@import "../colors";

#committee-page {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;

  .committee-landing {
    height: calc(100vh - 160px);
    display: flex;
    color: white;
    align-items: center;
    background-color: $color-primary;
    flex-direction: column;

    .video-container {
      position: relative;
      width: 85%;
      height: 50%;

      .video {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    .landing-image {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
    }

    h1 {
      padding: 2rem 0;
      z-index: 1;
    }
  }
  .join-cta,
  .landing-footer {
    height: 80px;
    background-color: $color-primary-black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .committee-info {
    background-color: $color-primary-dark;
    color: white;
    padding: 2.5%;
    display: flex;
    flex-direction: column;

    .committee-item {
      margin: 3rem;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .committee-image {
        width: 100%;
      }
      .video-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 66.66%;

        .video {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }

      .committee-context {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
        h1 {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .join-cta {
    background-color: $color-primary;
    height: 120px;
    display: flex;
    flex-direction: column;
    span {
      margin: 1rem 1rem;
      font-size: 16px;
      text-align: center;
    }
    button {
      background: $color-primary-black;
      padding: 0.5rem 2rem;
      text-align: center;
      text-decoration: none;
      color: white;
      border: none;
      font-size: 16px;
    }
    a {
      margin-bottom: 1rem;
    }
  }

  @media only screen and (min-width: 768px) {
    form .file-upload {
      justify-content: space-between;
      flex-direction: row;
      .custom-file-upload {
        width: 48%;
      }
    }
    .committee-landing .video-container {
      width: 50%;
      height: 65%;
    }

    .join-cta {
      flex-direction: row;
      button {
        background: $color-primary-black;
        padding: 1rem 2rem;
        font-size: 18px;
      }
      a {
        margin-bottom: 0rem;
      }
      span {
        font-size: 20px;
      }
    }
    .landing-footer {
      font-size: 22px;
    }
    .committee-info .committee-item {
      margin: 2rem;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;

      .committee-image {
        width: 48.25%;
      }

      .video-container {
        padding-top: 33.33%;
      }

      .committee-context {
        margin-left: 2rem;
        align-self: flex-start;
        margin-top: 0;
      }
    }
  }
}
