@import "../colors";

#contact-page {
  background-color: $color-primary;
  color: $color-primary-white;
  font-size: 1.2rem;
  flex-direction: column;
  display: flex;
  padding: 2.5%;
  h1 {
    align-self: center;
    padding: 2.5%;
    padding-top: 0;
  }

  .card-teams {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 768px) {
    h1 {
      padding: 2rem;
    }
  }
}
