@import "../colors";

.gallery-page {
  display: flex;
  color: $color-primary-white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .ReactGridGallery {
    width: 100%;
    height: 100%;
    padding: 2.5%;
    padding-top: 0;
  }
  h1 {
    padding: 2.5%;
  }
}
