$primary-color: #3aafa9;
$white: #feffff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: $primary-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  .soon {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .logo-horizontal {
    display: none;
  }

  .logo-square {
    display: block;
    img {
      height: 100vmin;
    }
  }
  
  .socials {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;
    margin-top: 1.5rem;

    a {
      margin: 0 1rem 0 1rem;
      color: $white;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    img {
      height: 40px;
      margin: 0 0.5rem 0 0.5rem;
    }
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.soon {
  span {
    animation-name: dot;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  span:nth-child(2) {
    animation-delay: 0.2s;
  }
  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .header {
    .logo-horizontal {
      display: block;
      img {
        height: 50vmin;
      }
    }
    .logo-square {
      display: none;
    }
    .socials {
      flex-direction: row;
      align-items: center;
    }
    .soon {
      margin-right: 50vw;
      font-size: 2rem;
    }
  }
}
